<% if user_signed_in? %>
    <li>
      <%= link_to(t(:logout), destroy_user_session_path) %>

    </li>
    <li> <%= link_to(t(:music), audios_path) %></li>
<% else %>
    <% if admin_signed_in? %>
        <li>
          <%= link_to(t(:users_list), users_path) %>
        </li>
        <li>
          <%= link_to(t(:logout), destroy_admin_session_path) %>

        </li>
    <% else %>
    <li>
      <%= link_to(t(:sign_in), new_user_session_path)  %>
    </li>
    <li>
      <%= link_to(t(:admin) , new_admin_session_path)  %>

    </li>

    <% end %>
<% end %>


