<h1>Listing audios</h1>
<table>
  <tr>
    <th><%= @title %></th>

    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @audios.each do |audio| %>

      <tr>
        <td>

          <%= audio.display_name %>

          <br/>
          Tags: <%= raw audio.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
          <br/>

          <div id="toggle_panel">
          Description: <%= audio.description %>
          </div>

        </td>
        <td><%= link_to 'Show', audio %></td>
        <td><%= link_to 'Edit', edit_audio_path(audio) %></td>
        <td><%= link_to 'Destroy', audio, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
  <% end %>

</table>
<div id="star-ratings-block">
  <%= render :partial => "audios/rating", :locals => { :audio => Audio.first } %>
</div></p>

<br />

<%= link_to 'New Audio', new_audio_path %>