<p>
  <b><%= @title %></b>
  <b><%= @audio.audio_file_name %></b>
  <a href="/audios/<%=@audio.id%>"> Download file</a>
</p>


<%= link_to 'Edit', edit_audio_path(@audio) %> |
<%= link_to 'Back', audios_path %>
