<p>

  <b>Audio:</b>
  <%= @audio.display_name %>
  <a href="/audio/<%=@audio.id%>" style="text-decoration:none"><%= @audio.audio_file_name %></a>
</p>


<%= link_to 'Edit', edit_audio_path(@audio) %> |
<%= link_to 'Back', audios_path %>