<div class="row">
  <div class="span4">

    <h3 id="tabs"><%= current_user.name %>'s <%= t(:profile) %></h3>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#A" data-toggle="tab"><%= t(:all_music) %></a></li>
      <li><a href="#C" data-toggle="tab"><%= t(:my_playlist) %></a></li>
      <li><a href="#D" data-toggle="tab"><%= t(:my_tracks) %></a></li>
    </ul>
    <div class="tabbable">
      <div class="tab-content">
        <div class="tab-pane active" id="A">
          <%= render 'users/all_music' %>
          </div>
        <div class="tab-pane" id="C">
          <%= render 'users/playlist' %>
        </div>
        <div class="tab-pane" id="D">
         <%= render 'users/users_own_tracks' %>
        </div>
      </div>
    </div>
  </div>
</div>
