<%= link_to 'New Audio', new_audio_path %>
<section id="tables">
  <table  class="table table-bordered table-striped table-hover paginated">
    <thead>
    <tr>
      <th>Song name</th>
      <th>Tags</th>
    </tr>
    </thead>
       <% Audio.all.each do |audio| %>
        <tr>
        <td> <%= link_to image_tag('Download_icon_images.jpg')%>
             <%= link_to image_tag('add_7580.png')%>
             <%= audio.display_name %>
          <div class="bubbleInfo">
            <div id="download" class="trigger">Info</div>
            <table style="opacity: 0; top: -50px; left: -33px; display: none;" id="dpop" class="popup">
              <td>Title: <%= audio.metadata['title'] %> </td>
              <td>Artist: <%= audio.metadata['artist'] %> </td>
              <td>Album: <%= audio.metadata['album'] %> </td>
              <td>Year: <%= audio.metadata['year'] %> </td>
              <td><%= audio.description %></td>
              <div class="haiku">

                <em>
                  --<%= audio.user.name %>
                  | <%= pluralize audio.reputation_for(:votes).to_i, "vote" %>
                  <% if current_user && !current_user.voted_for?(audio) %>
                      | <%= link_to "up", vote_audio_path(audio, type: "up"), method: "post" %>
                      | <%= link_to "down", vote_audio_path(audio, type: "down"), method: "post" %>
                  <% end %>
                </em>
              </div>
            </table>
          </div>
        </td>
        <td><%= raw audio.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
        </tr>
    <% end %>
    </table>
</section>